#work
{
    box-sizing: content-box;
    background-image: url(inu.jpg);
    background-repeat: no-repeat;
    border: 300px;
}
p{
    font-size: 20;
    background-color: white;
    color: red;
}
h1{
    text-align: center;
}